{% load bugle %}
{% load typogrify %}
<!-- <div class="blast{% if blast.is_todo %} todo{% endif %}{% if blast.done %} done{% endif %}"> -->
<div{% if blast.done %} class="done"{% endif %}>
  {% if blast.is_todo %}
    {% if blast.viewing_user_can_mark_done %}
    <form action="/toggle/" method="POST">
      {# TODO: Do something with this? #}
      <input type="image" src="/static/img/{{ blast.checkbox_img_name }}.png"
        name="{{ blast.checkbox_verb }}-{{ blast.pk }}" alt="{{ blast.checkbox_img_name }}">
      <input type="hidden" name="back_to" value="{{ request.path }}">
    </form>
    {% else %}
    <input type="checkbox" disabled>
    {% endif %}
    <p>
      {{ blast.message|urlize|buglise|typogrify|linebreaksbr }}
      {% if not is_single and blast.extended %}
        &hellip;
        <a href="/blast/{{ blast.pk }}/">(see more)</a>
      {% endif %}
    </p>
  {% else %}
    <p>
      {{ blast.message_without_todo|urlize|buglise|typogrify|linebreaksbr }}
      {% if not is_single and blast.extended %}
        &hellip;
        <a href="/blast/{{ blast.pk }}/">(see more)</a>
      {% endif %}
    </p>
  {% endif %}
  {# TODO: Do something with this? #}
  {% if blast.attachment %}
    <p>
      <a href="{{ blast.attachment.url }}">{{ blast.attachment_filename }}</a>
    </p>
  {% endif %}
</div>
<p class="meta">
  Blasted
  by <cite><a href="/{{ blast.user }}/">
     {% if blast.user.twitter_profile.profile_image %}<img src="{{ blast.user.twitter_profile.profile_image.url }}"
        width="48" height="48" alt="">{% endif %}{{ blast.user }}
  </a></cite>
  on <a href="/blast/{{ blast.pk }}/">
    <span class="date">{{ blast.created|date:"jS F" }} </span>
    at <span class="time">{{ blast.created|date:"H:i" }}</span>
  </a>
</p>
{% if blast.user_can_favourite %}
  <form action="/favourite/" method="POST" class="favourite">
      {% if blast.is_favourited %}
      <button name="{{ blast.favourite_verb }}-{{ blast.pk }}">
        Unfavourite <span>this blast</span>
      </button>
      {% else %}
      <button name="{{ blast.favourite_verb }}-{{ blast.pk }}">
        Favourite <span>this blast</span>
      </button>
      {% endif %}
      <input type="hidden" name="back_to" value="{{ request.path }}">
  </form>
{% endif %}
{% comment %}<p class="reply-to">
  <a href="?reply-to={{ blast.pk }}">Reply</a>
  </p>{% endcomment %}
{% if show_delete %}
  <form action="/delete/" method="post" class="delete">
      <input type="hidden" name="id" value="{{ blast.id }}">
      <button>Delete</button>
  </form>
{% endif %}
{% ifequal section "favourites" %}
{% if blast.favourited_by.all %}
<p class="favourited">Favourited by
{% for fave_user in blast.favourited_by.all %}
{% if not forloop.first %}{% if not forloop.last %}, {% else %} and {% endif %}{% endif %}{% ifequal user fave_user %}you{% else %}{{ fave_user }}{% endifequal %}
{% endfor %}
</p>
{% endif %}
{% endifequal %}
