{% extends "base.html" %}

{% block content %}
<p>Everyone's <a href="/">blasts</a> / <a href="/mentions/">mentions</a> / <a href="/favourites/">favourites</a> / <a href="/todos/">todos</a> / <a href="/pastes/">pastes</a></p>

{% if not user.is_anonymous %}
<form action="/post/" method="post" class="blast" 
		enctype="multipart/form-data">
	<div class="container">
		<input type="text" name="message" value="{{ initial_blast }}">
		<input type="submit" class="submit" value="Blast!">
	</div>
	<div class="container" style="clear: both;">
		<div id="extended"><textarea name="extended"></textarea></div>
		<div id="attach"><label>Attach a file: <input type="file" name="attachment"></label></div>
	</div>
</form>
<p class="meta"></p>
{% endif %}

{% block inner %}{% endblock %}

{% endblock %}
