{% extends "all_base.html" %}

{% block title %}Everyone's favourites on bugle{% endblock %}

{% block inner %}
<div class="headwrap">
<h2>All favourites</h2>
{% if user.is_authenticated %}
<p>Just see <a href="/{{ user }}/favourites/">your favourites</a></p>
{% endif %}
</div>

{% for blast in blasts %}
	{% include "_blast.html" %}
	<p><small>Favourited by {% for u in blast.favourited_by.all %}<a href="/{{ u }}/">{{ u }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
{% endfor %}

{% endblock %}
