{% extends "base.html" %}

{% block content %}
<p>Everyone's <a href="/">blasts</a> / <a href="/mentions/">mentions</a> / <a href="/favourites/">favourites</a> / <a href="/todos/">todos</a> / <a href="/pastes/">pastes</a></p>

{% if not user.is_anonymous %}
<form action="/post/" method="post" class="blast">
	<div class="container">
		<input type="text" name="blast" value="{{ initial_blast }}">
		<input type="submit" class="submit" value="Blast!">
		<div id="extended"><textarea name="extended"></textarea></div>
	</div>
</form>
<p class="meta"></p>
{% endif %}

{% block inner %}{% endblock %}

{% endblock %}
