<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}
<script type="text/javascript" src="/static/jquery-1.3.2.js"></script>
<style type="text/css">
body {
    font-family: georgia, serif;
}
#content {
    width: 70%;
}
#nav {
    font-size: 0.8em;
    margin-bottom: 1em;
}
#nav a:link, a:visited {
    color: blue;
}
div.blast {
     clear: both;
     padding-bottom: 12px;
}
div.box {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 3px;
}
</style>
<script type="text/javascript">
jQuery(function($) {
    $('input:first')[0].focus();
});
</script>
{% block extra_head %}{% endblock %}
</head>
<body>
    <div id="nav">{% if not user.is_anonymous %}<a href="/">Home</a> | Logged in as <strong>{{ user }}</strong> | <a href="/logout/">Logout</a>{% else %}<a href="/login/">Login</a> | <a href="/account/register/">Register</a>{% endif %}</div>
    <div id="content">
{% block content %}{% endblock %}
    </div>
</body>
</html>
