<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}
<style type="text/css">
body {
    font-family: georgia, serif;
}
#content {
    width: 70%;
}
</style>
<script type="text/javascript">
window.onload = function() {
    document.getElementsByTagName('input')[0].focus();
}
</script>
</head>
<body>
    <div id="nav"><a href="/">Home</a> | <a href="/logout/">Logout</a></div>
    <div id="content">
{% block content %}{% endblock %}
    </div>
</body>
</html>
