{% extends "base.html" %}

{% block title %}{{ user }} on bugle{% endblock %}

{% block extra_head %}
<script type="text/javascript">
jQuery(function($) {
    $('input:first')[0].focus();
    $('#extended').hide();
    var a = $('<a href="#">Include some code</a>');
    a.toggle(function() {
        $('#extended').show();
        return false;
    }, function() {
        $('#extended textarea').val('');
        $('#extended').hide();
        return false;
    });
    $('p.meta:first').append(' &middot; ');
    $('p.meta:first').append(a);
});
</script>
{% if autorefresh %}
<script type="text/javascript">
jQuery(function($) {
    var last_id = {{ blasts.0.id }};
    function refresh() {
        $.getJSON('/autorefresh/since/?id=' + last_id, function(obj) {
            var divs_to_add = [];
            $.each(obj, function() {
                last_id = this.id;
                var div = $('#blasts .blast:first').clone();
                if (this.first_on_day) {
                    div.addClass('first-on-day');
                } else {
                    div.removeClass('first-on-day');
                }
                div.find('div.box').css({
                    'background-color': this.colour
                });
                div.find('.message').html(this.message);
                div.find('.byline a').text(this.user).attr(
                    'href', '/' + this.user + '/'
                );
                div.find('.created').text(this.date + ' at ' + this.time);
                div.hide();
                $('#blasts').prepend(div);
                div.slideDown();
            })
        });
    }
    setInterval(refresh, 15 * 1000);
});
</script>
{% endif %}
{% endblock %}

{% block content %}
{% if not user.is_anonymous %}
<form action="/post/" method="post" class="blast">
	<div class="container">
		<input type="text" name="blast">
		<input type="submit" class="submit" value="Blast!">
		<div id="extended"><textarea name="extended"></textarea></div>
	</div>
</form>
{% endif %}
{% if autorefresh %}
    <p class="meta">Autorefresh is <strong>on</strong> (<a href="/">turn it off</a>)</p>
{% else %}
    <p class="meta">Autorefresh is <strong>off</strong> (<a href="/autorefresh/">turn it on</a>)</p>
{% endif %}
<div id="blasts">
    {% for blast in blasts %}{% include "_blast.html" %}{% endfor %}
</div>
{% if more_blasts %}
<p><a href="/all">All blasts</a></p>
{% endif %}

{% endblock %}
