html{color:#000;background:#FFF;}
legend{color:#000;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
q:before,q:after{content:'';}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
del,ins{text-decoration:none;}
li{list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
caption,th{text-align:left;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

body {
    -webkit-font-smoothing: antialiased;
    margin:                 0 0 0 -419px;
    padding:                0;
}
#body {
    margin:                 20px auto;
    padding:                0 0 0 429px;
    width:                  640px;
}
#bugle {
    margin-left:            -429px;
    position:               absolute;
    top:                    53px;
}
#user {
    margin-left:            -314px;
    position:               absolute;
    top:                    290px;
}

a {
    color:                  #c19958;
    text-decoration:        none;
}
a:hover,
a:focus,
a:active {
    text-decoration:        underline;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

h1 {
    font-size:              26px;
    margin:                 20px 0 25px;
}
h1 strong {
    font-weight:            normal;
}
h1 a {
    color:                  inherit;
}

nav {
    color:                  #a0a0a0;
    font:                   13px Helvetica, Arial, sans-serif;
    margin:                 38px 0;
}
nav ul {
    border-bottom:          1px solid #b9b9b9;
}
nav li {
    background:             #f2f2f2;
    display:                inline-block;
}
nav li a, 
nav li.selected {
    display:                inline-block;
    padding:                6px 25px 4px;
    border:                 1px solid #b9b9b9;
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
    margin-bottom:          -1px;
}
nav li.selected {
    background:             #fff;
    border-bottom-color:    #fff;
}
nav p {
    margin:                 11px 0;
    position:               absolute;
}
nav p {
    color:                  #a0a0a0;
    font:                   13px Helvetica, Arial, sans-serif;
    text-transform:         capitalize;
}
nav p span {
    left:                   -999em;
    position:               absolute;
}
nav p .selected {
    position:               static;
}
nav p .yours {
    border-left:            1px solid #a0a0a0;
    margin-left:            0.6em;
    padding-left:           0.5em;
}

#header,
#header a {
    color:                  #a0a0a0;
    font:                   11px Helvetica, Arial, sans-serif;
    text-align:             right;
}
#header span {
    left:                   -999em;
    position:               absolute;
}
#logout {
    border-left:            1px solid #a0a0a0;
    margin-left:            0.1em;
    padding-left:           0.3em;
    text-transform:         capitalize;
}

#search {
    display:                inline-block;
    margin-left:            8px;
    position:               relative;
}
#search label {
    left:                   -999em;
    position:               absolute;
}
#search input {
    background:             -webkit-gradient( linear, left top, left bottom, from(#eee), to(#fff), color-stop( 0.1, #fff ) );
    border:                 1px solid #c9c9c9;
    height:                 17px;
    margin-top:             -2px;
    padding:                2px;
}
#search input[type=Submit] {
    left:                   -999em;
    position:               absolute;
}

#blast {
    font:                   13px Helvetica, Arial, sans-serif;
}
#blast input[type=text],
#blast textarea,
#blast input[type=submit] {
    font-size:              20px;
    padding:                8px 0 5px;
}
#blast input[type=text],
#blast textarea {
    background:             -webkit-gradient( linear, left top, left bottom, from(#e0e0e0), to(#fff), color-stop( 0.1, #fff ) );
    border:                 1px solid #000;
    margin:                 8px 0;
    width:                  478px;
    max-width:              478px;
}
#blast textarea {
    font-family:            Menlo, monospace;
}
#blast input[type=submit] {
    background:             #c19958;
    background:             -webkit-gradient( linear, left top, left bottom, from(#d8bf94), to(#c19958), color-stop( 0.03, #c19958 ) );
    border:                 1px solid #7c6235;
    border-radius:          3px;
    color:                  #fff;
    cursor:                 pointer;
    margin-left:            5px;
    position:               relative;
    top:                    2px;
    width:                  150px;
    -webkit-box-shadow:     none;
}
#blast .extended a.active {
    color:                  #a0a0a0;
}
#blast .attach-file {
    border-left:            1px solid #c19958;
    margin-left:            0.6em;
    padding-left:           0.5em;
}


#blasts li,
#blasts.solo {
    height:                 auto;
    min-height:             48px;
    margin:                 22px 0 32px 62px;
    position:               relative;
}
#blasts img {
    left:                   -60px;
    position:               absolute;
    top:                    0;
}
#blasts.solo {
    margin-top:             65px;
}
#blasts.solo div p {
    font-size:              48px;
}

#blasts div form,
#blasts p {
    display:                inline-block;
}
#blasts.solo div form,
#blasts.solo p {
    display:                inline;
}
#blasts div form {
    height:                 20px;
    margin-bottom:          -5px;
}
#blasts .done {
    opacity:                0.3;
}
#blasts .done p {
    text-decoration:        line-through;
}
#blasts .meta,
#blasts .favourite,
#blasts .favourited,
#blasts .reply-to,
#blasts .delete {
    color:                  #a0a0a0;
    display:                inline-block;
    font:                   11px Helvetica, Arial, sans-serif;
}
#blasts .favourited {
    display:                block;
}
#blasts .meta a,
#blasts .favourite button,
#blasts .reply-to a,
#blasts .delete button {
    background:             none;
    border:                 none;
    color:                  #a0a0a0;
    cursor:                 pointer;
}
#blasts .delete button:hover {
    text-decoration:        underline;
}
#blasts .favourite,
#blasts .reply-to,
#blasts .delete {
    border-left:            1px solid #a0a0a0;
    margin-left:            0.1em;
    padding-left:           0.3em;
}
#blasts li {
    min-height: 0;
}
#blasts .bundle {
    margin: 0;
    background-color: rgb(238, 238, 238);
}
#blasts .bundle div {
    font-size: 12px;
    font-family: Menlo, monospace;
}
#blasts .bundle > div {
    padding: 12px;
    cursor: pointer;
}
#blasts .bundle ol {
    display: none;
}
#blasts .bundle ol li {
    margin: 0;
    padding: 0 0 22px 50px;
}
#blasts .bundle .meta, #blasts .bundle form, #blasts .bundle .reply-to {
    display: none;
}
.favourite button {
    background:             none;
    border:                 none;
}
.favourite button span {
    left:                   -999em;
    position:               absolute;
}
.favourite button:hover,
.favourite button:focus,
.favourite button:active {
    cursor:                 pointer;
    text-decoration:        underline;
}



